body{
    background-color: #1a1b1c;
    color: #f5f4f2;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#logo-nav{
    height: 60px;
    width: 150px;
    border-radius: 10px;
}

.titulo{
    flex: column;
    line-height: 15px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: #f5f4f2;
}

a:hover{
    color: #34809b;
    transition: 0.7s;
}


#reserva-btn{
    border: 2px solid #34809b;
    padding: 10px;
    border-radius: 15px;
}

#reserva-btn:hover{
    background-color: #34809b;
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 40px;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

span{
    color: #34809b;
}

p{
    line-height: 20px;
    max-width: 500px;

}


#resort-fora{
    width: 580px;
    border-radius: 15px;
} 

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #34809b;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
/* Cards das reservas dos quartos */
            /* Ctn pai */
.cards-reservas{  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    margin: 0 auto;
   
}

#divisoria-card-main{
    border-top: solid 1px #34809b;
}

/* Ctn filho */
.card-unidade{
    display: flex;
    gap: 3px;
    flex-direction: column;
    border: 2px solid #34809b;
    box-shadow: 10px 5px 5px black;
    height: 390px;
    width: 250px;
    padding: 8px;

}

/* Titulo */

.titulo-in-card {
    display: flex;
    gap: 1px;
   }
   
.titulo-inline {
    flex: 1;
    margin: 0;
   }
.titulo-inline-1 {
    color: #ffffff;
    flex: 1;
    margin: 0;
    margin-right: 70px;
   }
.titulo-inline-2 {
    color: #34809b;
    flex: 1;
    margin: 0;
    margin-right: 70px;
   }
.titulo-inline-3 {
    color: #ede72b;
    flex: 1;
    margin: 0;
    margin-right: 60px;
   }
.titulo-inline-4 {
    color: #ed2b2b;
    flex: 1;
    margin: 0;
    margin-right: 8px;
   }


   /* Titulo  fim*/



.img-card{
    max-height: 150px;
    max-width: 250px;
    border-radius: 5px;
}

.botao-reserva{
    background: #34809b;
    border: none;
    border-radius: 5px;
    height: 40px;
    color: #f5f4f2;
}



/* Carrossel */

.
/*Inicio estilo do footer
 */

 footer {
    background-color: #1a1b1c;
    height: 430px;
}

.secoes {
    max-width: 1700px;
    margin: auto;
}

.informacoes {
    display: flex;
}

.info1, .info2, .info3 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: rgb(199, 199, 199);
}

.info3 a{
    margin-top: 5px; 
    text-decoration: underline;
}

.info1>h1, .info2>h1, .info3>h1 {
    color: rgb(252, 252, 252);
}

.card {
    background-color: #fff;
    margin-top: 80px;
    width: 470px;
    margin-left: 50px;
    border-radius: 3px;
    height: 100px;
    padding: 15px 30px;
}

.text-suporte {
    font-family: 'Poppins', sans-serif;   
}

.input-suporte {
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #202020;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;  
    font-size: 15px;
    padding-left: 10px;
}

.input-suporte:focus {
    outline: none;
}

.divisao {
    margin-top: 80px;
}

.empresa {
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-left: 50px;
    font-size: 30px;
}

.contato {
    display: flex;
    justify-content: space-between;
}

.links {
    padding-right: 50px;
    display: flex;
}

.links>li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.link1, .link2, .link3 {
    margin-right: 20px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    transition: 0.7s text;
}

.link1:hover, .link2:hover, .link3:hover {
    color: #34809b;
    transition: 0.7s;
}

footer i:hover{
    color: #34809b;
    transition: 0.7s;
}

.creditos {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-left: 50px;
}